<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>943342088401-2mcfhk9jev2c9mm0nj4qe5nc2f5m6q6d.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.943342088401-2mcfhk9jev2c9mm0nj4qe5nc2f5m6q6d</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>943342088401-k6k8ts21tfrkhfbpo8am5i70clncujfe.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyDzVUjoACF3n_SRYznHvUM3bxWU1fR_SjQ</string>
	<key>GCM_SENDER_ID</key>
	<string>943342088401</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.googleSignin</string>
	<key>PROJECT_ID</key>
	<string>signin-94689</string>
	<key>STORAGE_BUCKET</key>
	<string>signin-94689.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:943342088401:ios:ee8d7254afe35cd2bc15f0</string>
</dict>
</plist>